alertfile = "alerts.json"
acklogfile = "ack.log"
baseurl = "http://localhost:8000/"
version = "20230904-siem"

# hide sensitive data
replacements = [
    {
        pattern=r'user: (\S{2}).{0,2}$',
        repl=r'user: \1******'
    }
    {
        pattern=r'user: (\S{1,2}).*(\S{2})$',
        repl=r'user: \1******\2'
    }
]
